<html>
  <head>
    <title>ToDo App</title>
    <script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/setup.js"></script>
    <link href="/assets/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 align="center">My To-Do List</h1>
      <div align="center" class="form-container">
        <form>
          <input type="text" name="item" size="50" placeholder="Add new item..." required />
          <input type="submit" class="submit-btn" value="Add Item" />
        </form>
      </div>
      <p class="alert" align="center" hidden></p>
      <div class="todo-list">
      <% todos.forEach(function(list){ %>
        <div align="center" class="todo-container">
          <input type="text" id="todo_<%= list._id %>" class="todo-item" size="50" value="<%= list.item %>" disabled />
          <input type="button" id="edit_<%= list._id %>" class="edit-btn" value="Edit" />
          <input type="button" id="x_<%= list._id %>" class="x-btn" value="X" hidden />
          <input type="button" id="update_<%= list._id %>" class="update-btn" value="Update" hidden />
          <input type="button" id="delete_<%= list._id %>" class="delete-btn" value="Delete" />
        </div>
      <% }) %>
      </div>
    </div>
  </body>
</html>
